In [10]:
#Lists

a = [234, "Hello", 34.22, 22, "World"]

In [11]:
print(a)

[234, 'Hello', 34.22, 22, 'World']

In [12]:
a.append("New_Item")
print(a)
a.pop()
print(a)
a.pop(1)
print(a)

[234, 'Hello', 34.22, 22, 'World', 'New_Item']
[234, 'Hello', 34.22, 22, 'World']
[234, 34.22, 22, 'World']

In [13]:
print(len(a))

4

In [14]:
#Dictionary

b = {"first": "Tomatoes", "second": "cheese"}
print(b["first"])

Tomatoes

In [18]:
for item in b:
    print(b[item])

Tomatoes
cheese

In [31]:
i = 0;
if b["first"] == "Potatoes":
    print("Found")
else:
    print("Not found. Here is the imposition - ")
    for i in range(0,10):
        print(i)
        i+=1

Not found. Here is the imposition -
0
1
2
3
4
5
6
7
8
9

In [34]:
#Tuple

tup = ("foo", "bar", ("foo-minor", "bar-minor"))

print(tup[1])

bar

In [37]:
listA = [1,2,3]
listB = ["1", "2", 3]
listA == listB

False

In [45]:
objA = 0
objB = 34
print(not objA)
print(not objB)

True
False

In [47]:
isinstance("main", str)

True

In [50]:
#Print all the integrers in the list

listC = [12, "heck", 44, "smoothie", 78.3, 2]
for i in listC:
    if(isinstance(i, int)):
        print(i)

12
44
2

In [65]:
#sorting

listD = ["adhd", "dax", "thru", "AA", "aAg", "aaa"]
listD.sort()
print(listD)
listD.sort(key=str.lower)
print(listD)
listD.sort(reverse=True)
print(listD)

##Storing sorted list into a new list
listD_sorted = sorted(listD)
print(listD_sorted)

listE = [23, 4545, 12.4, 45452.3, 232.2, 57, 87]
listE.sort()
print(listE)
listE.sort(reverse = True)
print(listE)

##Storing sorted list into a new list
listE_sorted = sorted(listE)
print(listE_sorted)

['AA', 'aAg', 'aaa', 'adhd', 'dax', 'thru']
['AA', 'aaa', 'aAg', 'adhd', 'dax', 'thru']
['thru', 'dax', 'adhd', 'aaa', 'aAg', 'AA']
['AA', 'aAg', 'aaa', 'adhd', 'dax', 'thru']
[12.4, 23, 57, 87, 232.2, 4545, 45452.3]
[45452.3, 4545, 232.2, 87, 57, 23, 12.4]
[12.4, 23, 57, 87, 232.2, 4545, 45452.3]